<!-- src/app/recipe/recipe-detail/recipe-detail.component.html -->
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<app-error-message [message]="error"></app-error-message>

<div *ngIf="recipe && !loading && !error" class="recipe-detail-container">
  <div class="recipe-header">
      <h2>{{ recipe.name }}</h2>
      <div class="actions" *ngIf="isOwnerOrAdmin$ | async">
          <button class="edit-button" [routerLink]="['/recipes', 'edit', recipe.id]">Edit</button>
          <button class="delete-button" (click)="deleteRecipe()" [disabled]="deleting">
              <span *ngIf="!deleting">Delete</span>
              <span *ngIf="deleting">Deleting...</span>
           </button>
      </div>
  </div>

  <p><strong>Category:</strong> {{ recipe.category | titlecase }}</p>
  <p><strong>By:</strong> <a [routerLink]="['/users', recipe.authorUsername, 'profile']">{{ recipe.authorUsername }}</a></p> <!-- Link to author profile -->

  <img [src]="getImageUrl(recipe.imageUrl)" alt="{{ recipe.name }}" class="recipe-main-image">

  <p class="description">{{ recipe.description }}</p>

  <!-- Add Ingredients List Here if available -->

  <div class="nutrition-section">
      <h3>Nutrition Facts</h3>
      <button (click)="loadNutrition()" [disabled]="loadingNutrition">
          {{ nutritionSvg ? 'Reload' : 'Load' }} Nutrition
      </button>
      <app-loading-spinner *ngIf="loadingNutrition"></app-loading-spinner>
      <app-error-message [message]="nutritionError"></app-error-message>
      <!-- Render SVG directly -->
      <div *ngIf="nutritionSvg" [innerHTML]="sanitizedNutritionSvg"></div>
  </div>


  <app-rating [recipeId]="recipe.id" [initialRating]="recipe.averageRating"></app-rating>

  <app-comment-section [recipeId]="recipe.id"></app-comment-section>

</div>